/**
 * Application
 */

html, body { background: #000; }

::-webkit-scrollbar {
  display: none;
}

/**
 * Typography
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans400.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans700.woff) format('woff');
}

body {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 * Shows
 */

#shows .fanart {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#shows .fanart img {
  min-width: 100%;
}

#shows .thumbnail {
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  z-index: 20;
  padding-top: 26px;
}

#shows .thumbnail h2,
#shows .thumbnail p {
  color: #efefef;
  text-shadow:
    0 2px 1px rgba(0, 0, 0, 0.5),
    2px 0 1px rgba(0, 0, 0, 0.5),
    0 -2px 1px rgba(0, 0, 0, 0.5),
    -2px 0 1px rgba(0, 0, 0, 0.5);
   margin: 0;
}

#shows .selected .fanart {
  visibility: visible;
}

#shows .selected .thumbnail {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:
    0 0 20px rgba(102, 175, 233, 0.625),
    0 0 10px rgba(102, 175, 233, 0.625);
}

#shows .selected .thumbnail img {
  outline: 2px solid rgba(0, 0, 0, 0.5);
}

#shows .no-episodes .thumbnail img {
  -webkit-filter: grayscale(100%) brightness(75%) contrast(75%);
}
