/**
 * Application
 */

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  background: #000;
  overflow: hidden;
}

img { vertical-align: middle; }

/**
 * Typography
 */

body {
  font-size: 16px;
}

/**
 * Fanart
 */

.media-fanart-box,
.media-fanart-transcluded {
  position: relative;
}

.media-fanart,
.media-fanart-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-fanart-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &.episodes-empty {
    -webkit-filter: grayscale(90%) brightness(75%) contrast(75%);
  }

  &.fanart-visible {
    visibility: visible;
  }

  &.fanart-hidden {
    visibility: hidden;
  }
}

/**
 * Shows (master-detail)
 */

#show-master-detail {
  width: 100vw;
  height: 100vh;

  .shows-list {
    display: inline-block;
    width: 30vw;
    height: 100vh;
    overflow: hidden;
    outline: none;
    box-shadow:
      10px 0 20px rgba(0, 0, 0, 0.225),
      10px 0 10px rgba(0, 0, 0, 0.225),
      10px 0 5px rgba(0, 0, 0, 0.125);

    .show {
      transition: -webkit-transform 0.175s ease-in-out;

      .thumbnail img { max-width: 100%; }

      &.episodes-empty .thumbnail img {
        -webkit-filter: grayscale(100%) brightness(75%) contrast(75%);
      }
    }

    .show-selected {
      -webkit-transform: scale(1.025);
      position: relative;
      z-index: 10;
      box-shadow:
        inset 1px 0 0 rgba(255, 255, 255, 0.125),
        inset 0 1px 0 rgba(255, 255, 255, 0.125),
        inset 0 -1px 0 rgba(255, 255, 255, 0.125),

        0 0 40px rgba(100, 175, 235, 0.825),
        0 0 20px rgba(100, 175, 235, 0.725),
        0 0 5px rgba(100, 175, 235, 0.625);
    }
  }
}
